* {
  margin: 0;
  padding: 0;
}
.background {
  background-color: yellowgreen;
}
#myId {
  background-color: yellow;
}
.sectiontag{
  display: flex;
  margin: 20px;
  width: 50px;

}
.tabletag{
  margin: 20px;
}